<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/templateCrud}">

<section layout:fragment="camposInputFormulario">

    <input type="hidden" th:field="*{id}" class="form-control" id="id" />
    <input type="hidden" th:field="*{unidade}" class="form-control" id="unidade" />

    <div class="row">
        <div class="col-md-4 form-group">
            <label for="unidade">Unidade:</label>
            <input type="text" th:value="${objeto.unidade?.codUnidade}" class="form-control" id="unidade" disabled />
        </div>
    </div>

    <div class="row">

        <div class="mb-3 col-md-4 form-group">
            <label for="nomeCondomino">Nome Condômino *</label>
            <input type="text" th:field="*{nomeCondomino}" class="form-control" id="nomeCondomino"
                placeholder="Digite o nome do condômino" th:if="${!somenteLeitura}" />
            <input type="text" th:field="*{nomeCondomino}" class="form-control" id="nomeCondomino"
                th:if="${somenteLeitura}" disabled />
        </div>

        <div class="mb-3 col-md-4 form-group">
            <label for="numIdentidade">Identidade *</label>
            <input type="text" th:field="*{numIdentidade}" class="form-control" id="numIdentidade"
                placeholder="Digite o número da identidade" th:if="${!somenteLeitura}" />
            <input type="text" th:field="*{numIdentidade}" class="form-control" id="numIdentidade"
                th:if="${somenteLeitura}" disabled />
        </div>

        <div class="mb-3 col-md-4 form-group">
            <label for="cpf">CPF: *</label>
            <input type="text" th:field="*{cpf}" class="form-control" id="cpf" placeholder="Digite o número do cpf"
                th:if="${!somenteLeitura}" />
            <input type="text" th:field="*{cpf}" class="form-control" id="cpf" th:if="${somenteLeitura}" disabled />
        </div>

        <div class="mb-3 col-md-4 form-group">
            <label for="dataNascimento">Data de Nascimento: *</label>
            <input type="text" th:field="*{dataNascimento}" id="dataNascimento" class="form-control datePicker"
                placeholder="Escolha ou digite a data de nascimento" data-mask="00/00/0000"
                th:if="${!somenteLeitura}" />
            <input type="text" th:field="*{dataNascimento}" class="form-control" id="dataNascimento"
                th:if="${somenteLeitura}" data-mask="00/00/0000" disabled />
        </div>

        <div class="mb-3 col-md-4 form-group">
            <label for="telefone">Telefone:</label>
            <input type="text" th:field="*{telefone}" class="form-control" id="telefone"
                placeholder="Digite o número do telefone" th:if="${!somenteLeitura}" />
            <input type="text" th:field="*{telefone}" class="form-control" id="telefone" th:if="${somenteLeitura}"
                disabled />
        </div>

        <div class="mb-3 col-md-4 form-group">
            <label for="celular">Celular:</label>
            <input type="text" th:field="*{celular}" class="form-control" id="celular"
                placeholder="Digite o número do celular" th:if="${!somenteLeitura}" />
            <input type="text" th:field="*{celular}" class="form-control" id="celular" th:if="${somenteLeitura}"
                disabled />
        </div>

        <div class="mb-3 col-md-4 form-group">
            <label for="profissao">Profissão:</label>
            <input type="text" th:field="*{profissao}" class="form-control" id="profissao"
                placeholder="Digite a sua profissão" th:if="${!somenteLeitura}" />
            <input type="text" th:field="*{profissao}" class="form-control" id="profissao" th:if="${somenteLeitura}"
                disabled />
        </div>

        <div class="mb-3 col-8">
            <label for="enderecoTrabalho" class="form-label">Endereço do Trabalho: </label>
            <input type="text" th:field="*{enderecoTrabalho}" class="form-control" id="enderecoTrabalho"
                placeholder="Digite o endereço do trabalho" th:if="${!somenteLeitura}" />
            <input type="text" th:field="*{enderecoTrabalho}" class="form-control" id="enderecoTrabalho"
                th:if="${somenteLeitura}" disabled />
        </div>

        <div class="col-md-4 form-group">
            <label for="banco">Banco: *</label>
            <select class="form-control" id="banco" th:field="*{banco}" th:if="${!somenteLeitura}">
                <option value="">Selecione um banco</option>
                <option th:each="banco : ${listaBancos}" th:value="${banco.id}" th:text="${banco.nomeBanco}">
                </option>
            </select>
            <input type="text" th:field="*{banco.nomeBanco}" class="form-control" id="banco" th:if="${somenteLeitura}"
                disabled />
        </div>

        <div class="col-md-4 form-group">
            <label for="situacaoCondomino">Situação Condômino: *</label>
            <select class="form-control" id="situacaoCondomino" th:field="*{situacaoCondomino}" th:if="${!somenteLeitura}">
                <option value="">Selecione uma situação</option>
                <option th:each="situacao : ${listaSituacaoCondomino}" th:value="${situacao.id}"
                    th:text="${situacao.descricao}">
                </option>
            </select>
            <input type="text" th:field="*{situacaoCondomino.descricao}" class="form-control" id="banco"
                th:if="${somenteLeitura}" disabled />
        </div>

        <div class="col-md-4 form-group">
            <label for="numContrato">Número do Contrato: </label>
            <input type="text" th:field="*{numContrato}" class="form-control" id="numContrato"
                placeholder="Digite o número do contrato" th:if="${!somenteLeitura}" />
            <input type="text" th:field="*{numContrato}" class="form-control" id="numContrato" th:if="${somenteLeitura}"
                disabled />
        </div>

        <div class="col-md-4 form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="contratoDeGaveta" th:field="*{contratoDeGaveta}"
                    th:if="${!somenteLeitura}">
                <input class="form-check-input" type="checkbox" id="contratoDeGaveta" th:field="*{contratoDeGaveta}"
                    th:if="${somenteLeitura}" disabled>
                <label class="form-check-label" for="contratoDeGaveta">
                    Contrato de Gaveta
                </label>
            </div>
        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-md-4 form-group">
            <label for="nomeProprietario">Nome Proprietário: *</label>
            <input type="text" th:field="*{nomeProprietario}" class="form-control" id="nomeProprietario"
                placeholder="Digite o nome do proprietário" th:if="${!somenteLeitura}" />
            <input type="text" th:field="*{nomeProprietario}" class="form-control" id="nomeProprietario"
                th:if="${somenteLeitura}" disabled />
        </div>

        <div class="col-8">
            <label for="enderecoProprietario">Endereço do Proprietário: </label>
            <input type="text" th:field="*{enderecoProprietario}" class="form-control" id="enderecoProprietario"
                placeholder="Digite o endereço do proprietário" th:if="${!somenteLeitura}" />
            <input type="text" th:field="*{enderecoProprietario}" class="form-control" id="enderecoProprietario"
                th:if="${somenteLeitura}" disabled />
        </div>


        <div class="col-12 form-group">
            <label for="outrosResidentes">Outros Residentes:</label>
            <textarea type="text" th:field="*{outrosResidentes}" class="form-control" id="outrosResidentes"
                placeholder="Digite o nome do condômino" rows="10" th:if="${!somenteLeitura}"></textarea>
            <textarea type="text" th:field="*{outrosResidentes}" class="form-control" id="outrosResidentes" rows="10"
                th:if="${somenteLeitura}" disabled></textarea>
        </div>
    </div>

</section>

</html>