<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{index}">

<main layout:fragment="content">

    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Seja Bem-Vindo(a), <span
                            th:text="${#authentication.principal.usuario.fullname}"></span> </h3>
                </div>
            </div>
        </div>
    </div>


</main>

</html>