<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{head :: head}"></head>

<body>

    <div class="container text-center">

        <div class="d-flex justify-content-center">


            <form class="form-signin" th:action="@{/login}" method="post">

                <h1 class="h3 m-5 font-weight-normal">Pagamentos</h1>

                <label for="inputEmail" class="sr-only">Usuário</label>
                <input type="text" name="username" id="inputEmail" class="form-control mb-3"
                    placeholder="Nome de usuário" required autofocus>
                <label for="inputPassword" class="sr-only">Senha</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-5" placeholder="Senha"
                    required>

                <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Entrar</button>

                <!-- Exibe mensagem de erro -->
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
                    Email ou senha incorretos. Por favor, tente novamente.
                </div>

                <div th:if="${param.logout}" class="alert alert-success" role="alert">
                    Você foi desconectado com sucesso.
                </div>
            </form>



        </div>
    </div>

</body>

</html>