<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/templateCrud}">

<section layout:fragment="camposInputFormulario">

    <input type="hidden" th:field="*{unidade}" class="form-control" id="unidade" />

    <div class="row">
        <div class="col-md-4 form-group">
            <label for="unidade">Unidade:</label>
            <input type="text" th:value="${objeto.unidade?.codUnidade}" class="form-control" id="unidade" disabled />
        </div>

        <div class="mb-3 col-md-4 form-group">
            <label for="dataPagamento">Data do Pagamento: </label>
            <input type="text" th:field="*{dataPagamento}" id="dataPagamento" class="form-control"
                data-mask="00/00/0000" data-readonly />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-group">
            <label for="mesReferencia">Pagamento do Mês:</label>
            <select class="form-control select2" id="mesReferencia" th:field="*{mesReferencia}"
                th:if="${!somenteLeitura}">
                <option value=""></option>
                <option th:each="mes : ${listaMeses}" th:value="${mes.id}" th:text="${mes.descricaoMes}">
                </option>
            </select>
        </div>

        <div class="mb-3 col-md-4 form-group">
            <label for="anoReferencia">Ano:</label>
            <input type="text" th:field="*{anoReferencia}" class="form-control" id="anoReferencia"
                placeholder="Digite o ano" />
        </div>

        <div class="col-md-4 form-group">
            <label for="funcionarioRecebedor">Funcionário Recebedor:</label>
            <select class="form-control select2" id="funcionarioRecebedor" th:field="*{funcionarioRecebedor}"
                th:if="${!somenteLeitura}">
                <option value=""></option>
                <option th:each="usuario : ${listaUsuarios}" th:value="${usuario.id}" th:text="${usuario.fullname}">
                </option>
            </select>
        </div>
    </div>

    <hr class="mb-4">

    <div class="row">
        <h4 class="col-md-4 mb-3">Forma de Pagamento</h4>
    </div>

    <div class="row">

        <div class="col-md-4 form-group">
            <label for="formaPagamento">Forma Pagamento: </label>
            <select class="form-control select2" id="formaPagamento" th:field="*{formaPagamento}"
                th:if="${!somenteLeitura}">
                <option value=""></option>
                <option th:each="forma : ${listaFormaPagamentos}" th:value="${forma.id}" th:text="${forma.descricao}">
                </option>
            </select>
        </div>

        <div class="mb-3 col-md-4 form-group">
            <label for="numCheque">Número do Cheque:</label>
            <input type="text" th:field="*{numCheque}" class="form-control" id="numCheque"
                placeholder="Digite o número do cheque" />
        </div>

        <div class="col-md-4 form-group">
            <label for="banco">Banco: </label>
            <select class="form-control select2" id="banco" th:field="*{banco}" th:if="${!somenteLeitura}">
                <option value=""></option>
                <option th:each="banco : ${listaBancos}" th:value="${banco.id}" th:text="${banco.nomeBanco}">
                </option>
            </select>
        </div>

        <div class="mb-3 col-md-4 form-group">
            <label for="dataDepositoChequePreDatado">Data para Depósito do Pré-Datado: *</label>
            <input type="text" th:field="*{dataDepositoChequePreDatado}" id="dataDepositoChequePreDatado"
                class="form-control datePicker" placeholder="Escolha ou digite a data de depósito do cheque pré-datado"
                data-mask="00/00/0000" th:if="${!somenteLeitura}" />

        </div>
    </div>

    <hr class="mb-4">

    <div class="row">
        <h4 class="col-md-4 mb-3">Situação do débito</h4>
    </div>

    <div class="row">

        <div class="mb-3 col-md-4 form-group">
            <label for="debitoInicial">Débito Inicial:</label>
            <input type="text" th:field="*{unidade.debito.valorDoDebitoInicial}" class="form-control"
                id="debitoInicial" />
        </div>

        <div class="mb-3 col-md-4 form-group">
            <label for="numParcelas">Número de Parcelas:</label>
            <input type="text" th:field="*{unidade.debito.numParcelas}" class="form-control" id="numParcelas" />
        </div>

        <div class="mb-3 col-md-4 form-group">
            <label for="numParcelasPagas">Número de Parcelas Pagas:</label>
            <input type="text" th:field="*{unidade.debito.numParcelasPagas}" class="form-control"
                id="numParcelasPagas" />
        </div>

        <div class="mb-3 col-md-4 form-group">
            <label for="valorDaParcela">Valor da Parcela:</label>
            <input type="text" th:field="*{unidade.debito.valorDaParcela}" class="form-control" id="valorDaParcela" />
        </div>

        <div class="mb-3 col-md-4 form-group">
            <label for="valorPago">Total Pago:</label>
            <input type="text" th:field="*{unidade.debito.valorPago}" class="form-control" id="valorPago" />
        </div>

        <div class="mb-3 col-md-4 form-group">
            <label for="valorDoDebitoRestante">Valor Débito Restante:</label>
            <input type="text" th:field="*{unidade.debito.valorDoDebitoRestante}" class="form-control"
                id="valorDoDebitoRestante" />
        </div>

    </div>

</section>

</html>